.exam-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.exam-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
}

.exam-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exam-details-info {
    width: 100%;
    padding: 0 10px;
}

.exam-details-buttons {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exam-details-button {
    background-color: var(--header-bg);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 200px;
    margin: 10px 10px;
}

.exam-details-button.delete {
    background-color: #dc3545;
}

.exam-details-button.delete:hover {
    background-color: #c82333;
}

.exam-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    margin: 20px;
    padding: 10px 10px;
}

.exam-questions-header {
    text-align: left;
    margin-bottom: 20px;
}

.exam-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    margin: 20px;
    padding: 10px 10px;
}

.exam-students-header {
    text-align: left;
    margin-bottom: 20px;
}

.exam-page p {
    font-size: 16px;
    color: #666;
}
