/* styles/QuestionCard.css */
.question-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 90%;
}

.question-preview {
    cursor: pointer;
    padding: 10px;
    width: 90%;
}

.question-details {
    padding: 10px;
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.answer {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 160px;
}

.answer-correctness-button {
    width: 100px;
    transition: background-color 0.3s;
    flex: none;
    margin: 5px;
}

.answer-correctness-button.true {
    background-color: #28a745;
}

.answer-correctness-button.true:hover {
    background-color: #218838;
}

.answer-correctness-button.false {
    background-color: #dc3545;
}

.answer-correctness-button.false:hover {
    background-color: #c82333;
}

.answer-delete-button {
    width: 100px;
    background-color: #007bff;
    transition: background-color 0.3s;
    flex: none;
    margin: 5px 0 5px 5px;
}

.answer-delete-button:hover {
    background-color: #0056b3;
}

.form-buttons {
    margin-top: 15px;
}

.form-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
    width: 120px;
}

.form-buttons button:last-child {
    background-color: #dc3545;
}

.form-buttons button:hover {
    opacity: 0.85;
}

input[type="radio"] {
    margin-right: 5px;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    font-size: 16px;
    height: auto;
}

textarea {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100px;
}

.question-preview p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
